<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" >Nagarro</a>
    <h4 style="color: white;">Welcome to Nagarro Travel Portal</h4>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <button class="nav-link btn" (click)="signOut()" >Sign Out</button>
      </li>
    </ul>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/home']">
                    <span data-feather="home"></span>
                    Dashboard <span  class="sr-only">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/corona']">
                    <span data-feather="file"></span>
                    Corona Stats 
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/newticket']">
                    <span data-feather="shopping-cart"></span>
                    New Ticket 
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/tickets']">
                    <span data-feather="users"></span>
                    My Tickets 
                </a>
                </li>
            </ul>
        </div>
      </nav>
  
      
    </div>
  </div>
  