<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" >Nagarro</a>
    <h4 style="color: white;">Welcome to Nagarro Admin Travel Portal</h4>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <button class="nav-link btn" (click)="signOut()" >Sign Out</button>
      </li>
    </ul>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/adminhome']">
                    <span data-feather="home"></span>
                    Dashboard <span  class="sr-only">(current)</span>
                </a>
                </li>
            </ul>
        </div>
      </nav>
  
      
    </div>
  </div>


<!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">User Tickets</h2>
    </div>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Priority</th>
            <th scope="col">Request Type</th>
            <th scope="col">Submitted Date</th>
            <th scope="col">Project Name</th>
            <th scope="col">Travel City</th>
            <th scope="col">Business Unit</th>
            <th scope="col">Ticket Status</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of tickets; let i=index">
                <td>{{i+1}}</td>
                <td>{{ticket.priority}}</td>
                <td>{{ticket.requestType}}</td>
                <td>{{ticket.updatedAt}}</td>
                <td>{{ticket.projectName}}</td>
                <td>{{ticket.travelCity}}</td>
                <td>{{pushedItems[ticket.id]}}</td>
                <td>{{ticket.status}}</td>
            </tr>
        </tbody>
      </table>


</main>   -->



<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">User Tickets</h2>
</div>

<p (click)="triggerGetTickets()" class="text-primary vishav-click" >{{msg}}</p>


<mat-form-field>

<mat-label>Filter</mat-label>
<input matInput (keyup)="applyFilter($event)" placeholder="Ex. Project Name, Business Unit, Priority, Travel City">
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>


<ng-container matColumnDef="id">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket Id </th>
  <td mat-cell *matCellDef="let row"> {{row.id}} </td>
</ng-container>

<ng-container matColumnDef="priority">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
  <td mat-cell *matCellDef="let row"> {{row.priority}} </td>
</ng-container>


<ng-container matColumnDef="requestType">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Type </th>
  <td mat-cell *matCellDef="let row"> {{row.requestType}} </td>
</ng-container>

<ng-container matColumnDef="updatedAt">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Submitted Date </th>
  <td mat-cell *matCellDef="let row"> {{row.updatedAt.split("T")[0]}} </td>
</ng-container>

<ng-container matColumnDef="projectName">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
  <td mat-cell *matCellDef="let row"> {{row.projectName}} </td>
</ng-container>

<ng-container matColumnDef="travelCity">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Travel City </th>
  <td mat-cell *matCellDef="let row"> {{row.travelCity}} </td>
</ng-container>

<ng-container matColumnDef="user.businessUnit">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Business Unit </th>
  <td mat-cell *matCellDef="let row"> {{row.user.businessUnit}} </td>
</ng-container>

<ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket Status </th>
  <td mat-cell *matCellDef="let row"> {{row.status}} </td>
</ng-container>




<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openTicket(row)">
</tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

</main>