<div class="container">
    <h2>Enter your Mail ID to recieve username and password</h2>
    <form #forgotForm="ngForm" (ngSubmit)="sendMail()">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input placeholder="username@nagarro.com" type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" 
            [(ngModel)]="toMailID" required #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
            pattern="^[A-Za-z.]+@nagarro.com$"
            >
            <div *ngIf="email.errors && (email.invalid && email.touched)">
              <small class="text-danger" *ngIf="email.errors.required">Email Id is required field</small>
              <small class="text-danger" *ngIf="email.errors.pattern">Enter Nagarro Email Id</small>
            </div>
        </div>
        <small class="float-right text-secondary vishav-click" [routerLink]="['/login']">Return Back to Login Page</small>
        <button [disabled]="forgotForm.form.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <div *ngIf="msg && msg.length > 0" [ngClass]="{'alert alert-success': status==200, 'alert alert-danger': status==500}" role="alert">
      {{ msg }}
    </div>
</div>
